.progress-bar {
display: flex;
flex-direction: column;
gap: 0.5rem;
}
.progress-bar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-bar .bottom {
  height: 0.5rem;
  width: 100%;
 /* background: linear-gradient( 90deg, blue 0%, blue 90%, #ddd 90%, #ddd 100%);
  background: linear-gradient( 90deg, blue 0%, blue 90%, #ddd 90%, #ddd 100%); */
  background-color: #ddd;
}
.progress-bar .bar {
  height: 90%;
  width: 100%;
  background-color: #03a9f5
  
}
.progress-bar:nth-of-type(2) .bar {
  width: 75%;
}
.progress-bar:nth-of-type(3) .bar {
  width: 45%;
}